html,body{
	background: #DCE0E2;
	margin:0px;
	min-height:100%;
}
#gral{
	width: 100%;
	min-height:100%;
}
#contenedor{
	background-color: #fff;
	width: 90%;
	padding-top: 100px;
	margin: 0 auto;
	border-radius: 25px;
	color: gray;
}
#contenedor h1{
	color: white;
	background-color: #4682b4;
}
#contenedor label{
	color: gray;
}

#contenedor2{
	width: 80%;
	margin: 0 auto;
	color: white;
}
#cont{
	background-color: #fff;
	min-height: 100%;
}
#cont1{
	min-height: 90%;
}
#cont2{
	min-height: 10%;
}
#men{
	background-color: #DCE0E2;
	min-height: 100%;
}
#men h2{
	margin-top: 20px;
	text-align: center;
	color: #4682b4;
}
#men h3{
	margin-top: 20px;
	text-align: center;
	color: #4682b4;
}
.logo{
	padding: 50pX;
}

#formularios {
	width: 80%;
	min-height: 850px;
	margin: 0 auto;
}
#pie{
	background-color: black;
	padding: 10px;
	color: white;
}
#datos{
	text-align: right;
	background-color: black;
	padding: 10px;
	color: white;
}
ul{
	list-style:none;
	margin: 0;
    padding: 0;
    overflow: hidden;
}
ul li{
}
ul li a{
	background-color: #DCE0E2;
    font-weight:bold;
    display: block;
    color: black;
    padding: 8px;
    text-decoration: none;
}
ul li a:hover{
	text-decoration:none;
	color: white;
	background-color: #56AF55;
	padding: 8px;
}
#consulta{
	margin: 0 auto;
}
.correcto{
	color: green;
}
.incorrecto{
	color: red;
}
.table img{
	width: 64px;
}
